<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TicketNest | Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <script src="https://kit.fontawesome.com/08c0396a01.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="user-details">
        <div class="left">
            <p><i class="fa-solid fa-user"></i> {{ current_user.username }}</p>
            <p><i class="fa-solid fa-user-tie"></i> {{ current_user.role }}</p>
        </div>
        <p class="logout"><a href="{{ url_for('main.logout') }}"><i class="fa-solid fa-right-from-bracket"></i> Logout</a></p>
    </div>
    <header>
        <h1 class="logo">TicketNest</h1>
        <nav>
            <a href="{{ url_for('main.portal') }}"><i class="fa-solid fa-house"></i> Portal</a>
            <a href="{{ url_for('main.my_tickets') }}"><i class="fa-solid fa-ticket"></i> View Purchase History</a></a>
            <a href="{{ url_for('main.view_cart') }}"><i class="fa-solid fa-cart-shopping"></i> View Cart
                {% if cart_count > 0 %}
                    <span>({{ cart_count }})</span>
                {% endif %}</a>
        </nav>
    </header>


    <section class="events-container items-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-{{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="events-card-container cart-container">
            {% for item in cart_items %}
                    <div class="cart-item">
                        <div class="item-image">
                            <img src="{{ url_for('static', filename='/img/dinhoCafe.jpg') }}"  alt="">
                        </div>
                        <div class="item-description">
                            <h2 class="cart-title">{{ item.event.title }}</h2>
                            <p class="cart-quantity">Quantity: {{ item.quantity }}</p>
                            <p class="description cart-price">R{{ item.event.ticket_prices }}, 00</p>
                            <a href="{{ url_for('main.remove_from_cart', item_id=item.id) }}"><i class="fa fa-trash"></i> Remove from cart</a>

                        </div>
                    </div>
            {% endfor %}
            <h3 class="items-total">Subtotal: R{{ total_price }}, 00</h3>
            </div>
        {% if cart_items == [] %}
            <form style="display: none;" action="{{ url_for('main.checkout') }}" method="POST">
                <button class="link cart-btn" type="submit" name="checkout">Proceed to checkout</button>
            </form>
        {% else %}
            <form action="{{ url_for('main.checkout') }}" method="POST">
                <button class="link cart-btn" type="submit" name="checkout">Proceed to checkout
            </form>
        {% endif %}
    </section>
</body>
</html>